/input
/input/multiome.h5mu
/input/RAW_multiome.h5mu
/input/indv_without_16h_combined.tsv
/input/multiome_annotations.csv
input/*.h5mu
input/*.tsv
input/*.csv
input/
*.h5mu
*.tsv
dts/
out/
input/
workflow/dts/mycustom/
*.h5mu
*.tsv
/workflow/dts/mycustom/RAW_multiome.h5mu
input/multiome.h5mu
workflow/dts/mycustom/indv_without_16h_combined.tsv
*.h5mu
*.tsv
input/
workflow/dts/mycustom/
dag.pdf
*.snakemake.log
.snakemake/metadata/
dbs/
logs/
